
# ビルド前にAWS認証情報を設定
# 基盤技術Tから配布される認証情報
AWS_ACCESS_KEY_ID=<your-access-key-id>
AWS_SECRET_ACCESS_KEY=<your-secret-access-key>
AWS_REGION=ap-northeast-1
CLAUDE_CODE_USE_BEDROCK=1

# 基盤技術Tから配布されるアカウントIDを<aws-account-id>に記載
# <claude-model-id>には使用したいモデルのIDを記載 Ex. global.anthropic.claude-sonnet-4-5-20250929-v1:0
# <claude-fast-model-id>には使用したい軽量モデルのIDを記載 Ex. global.anthropic.claude-haiku-4-5-20251001-v1:0
ANTHROPIC_MODEL=arn:aws:bedrock:ap-northeast-1:<aws-account-id>:inference-profile/<claude-model-id>
ANTHROPIC_SMALL_FAST_MODEL=arn:aws:bedrock:ap-northeast-1:<aws-account-id>:inference-profile/<claude-fast-model-id>
